#category {
	> header {
		background: #B71F2E;

		h1 {
			color: #fff;
		}

		.breadcrumbs {
			> span {
				color: rgba(255,255,255,0.7);
		
				> a {
					color: rgba(255,255,255,0.7);
				}
			}
		}

		.sort-by {
			border-bottom: 0;

			.sort-by__icon {
				color: #fff;
			}
			select {
				color: #fff;
			}
		}
	}
}